
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: HelveticaNeue, Helvetica, sans-serif;
}

header h1 {
  margin: 10px 0 0;
}

header p {
  margin-top: 10px;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}

.content {
  margin-right: 50%;
  padding: 20px 30px;
}

.projectView {
  padding: 10px 0;
}

.isStarred {
  font-weight: bold;
}
