
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: HelveticaNeue, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: green;
}

header h1 {
  display: inline-block;
  margin: 10px 0 0;
}

header nav {
  display: inline-block
}

#map {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 50%;
}

.content {
  margin-right: 50%;
  margin-top: 50px;
  padding: 20px 30px;
}

select {
  width: 200px;
  height: 26px;
  font-size: 14px;
  background: none;
  margin-top: 10px;
}

.projectView {
  padding: 10px 0;
}

.isStarred {
  font-weight: bold;
}
